
#screen {
  position: relative;
  width: 95vw;
  height: calc(95vw * (2/3));
  max-height: 95vh;
  max-width: calc(95vh * (3/2));
  margin: auto;
}

#gameCanvas {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
}


#statCanvas {
  position: absolute;
  width: 100%;
  height: calc(100% * (1 / 15));
  left: 0;
  bottom: 0;
}
